.content_about {
  width: 100%;
  min-height: 50vh;
  margin: auto;
}

.content_about-container {
  width: 80%;
  display: block;
  margin: auto;
  padding-top: 100px;
}

.content_about-container-content {
  float: left;
  width: 55%;
}

.about-img {
  float: right;
  width: 40%;
}

.about-img img {
  width: 60%;
  height: auto;
}

.about-title {
  text-transform: uppercase;
  font-size: 28px;
}

.about-content h3 {
  margin-top: 20px;
  color: #5d5d5d font-size 21px;
}

.about-content p {
  margin-top: 10px;
  font-size: 18px;
  line-height: 1.5;
}

@media screen and (max-width: 768px) {
  .content_about-container {
    width: 80%;
    display: block;
    margin: auto;
    padding-top: 50px;
  }

  .content_about-container-content {
    float: none;
    width: 100%;
    display: block;
    margin: auto;
  }

  .about-img {
    float: none;
    width: 100%;
    display: block;
    margin: auto;
  }

  .about-img img {
    width: 100%;
    height: auto;
    display: block;
    margin: auto;
  }

  .about-title {
    text-align: center;
    font-size: 19px;
  }
}
