.content_gallery {
  margin-top: 200px;
  width: 100%;
}

.content_gallery-container {
  width: 100%;
}

.content_gallery-container h1 {
  font-size: 60px;
  margin-bottom: 50px;
  text-align: center;
  text-transform: uppercase;
}

#gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 20px;
}

.gallery-img {
  max-width: 100%;
  min-height: 100%;
  border-radius: 10px;
  position: relative;
  transition: transform 250ms;
  cursor: pointer;
}

.gallery-img:hover {
  transform: translateY(-2px);
  box-shadow: 2px 2px 12px #1d1d1d;
}

#popup {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.92);
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(-100%);
  transition: 250ms transform;
  padding: 50px;
  z-index: 1000;
}

#selectedImage {
  max-height: 100%;
}

@media screen and (max-width: 768px) {
  .content_gallery {
    width: 100%;
    margin: auto;
    margin-top: 200px;
  }

  .content_gallery-container h1 {
    font-size: 40px;
    margin-bottom: 50px;
  }

  #gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 20px;
  }
}
